* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%!important;
  top:0!important;
  user-select: none;
}

li {
  list-style: none;
}

button,
input {
  outline: none;
}

.wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

.header {
  display: flex;
  justify-content: center;
  height: 45px;
  padding-top: 20px;
}

.control-panel {
  display: flex;
  justify-content: space-between;
  width: 95%;
  height: 45px;
}

.reload-btn,
.celsius-btn,
.fahrenheit-btn,
.search-btn,
.last-city-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
  color: white;
  background-color: rgba(51, 51, 51, 0.7);
  cursor: pointer;
}

.reload-btn,
.celsius-btn,
.fahrenheit-btn,
.search-btn {
  font-size: 18px;
  font-weight: 600;
}

.reload-btn,
.last-city-btn {
  border-radius: 7px;
}

.temperature-switch {
  display: flex;
  margin: 0 10px 0 10px;
}

.reload-btn,
.celsius-btn,
.fahrenheit-btn {
  width: 45px;
}

.search-btn {
  width: 70px;
}

.celsius-btn {
  border-radius: 7px 0 0 7px;
}

.fahrenheit-btn,
.search-btn {
  border-radius: 0 7px 7px 0;
}

.last-city-btn {
  flex-wrap: wrap;
  width: 170px;
  padding: 5px;
  font-size: 16px;
}

.last-city {
  margin-left: 7px;
  color: rgb(117, 242, 247);
}

.search-bar {
  display: flex;
  height: 100%;
}

.input {
  font-size: 16px;
  color: white;
  background-color: rgba(51, 51, 51, 0.5);
}

.input[placeholder] {
  height: 35px;
  padding: 5px;
}

input::-webkit-input-placeholder {
  font-size: 16px;
  color: rgb(207, 206, 206);
}

.microphone {
  padding: 13px 3px;
  background-color: rgba(51, 51, 51, 0.5);
  cursor: pointer;
}

.fa-microphone {
  font-size: 20px;
}

.main {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.weather-section {
  width: 660px;
  height: 470px;
  padding: 10px;
  margin-left: 25px;
  border-radius: 20px;
  background-color: rgba(2, 89, 92, 0.7);
}

.location {
  font-size: 38px;
  font-weight: 600;
  text-align: center;
}

.current-date {
  margin-top: 5px;
  font-size: 24px;
  text-align: center;
}

.weather-today {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.temperature-today {
  font-size: 122px;
  font-weight: 600;
}

.weather-icon {
  width: 100px;
  height: 100px;
  margin: 10px;
  animation: rotate 2s infinite alternate;
}

.weather-today-data {
  width: 200px;
  margin-top: 30px;
  font-size: 17px;
  font-weight: 600;
  text-transform: uppercase;
}

.weather-today-data li {
  margin: 5px;
}

.weather-forecast {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 170px;
}

.weather-forecast-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 135px;
  height: 100%;
  padding: 10px;
}

.weather-forecast-day {
  height: 25px;
  font-size: 22px;
  font-weight: 600;
  text-transform: uppercase;
}

.weather-forecast-temperature {
  margin: 5px;
  font-size: 42px;
}

.weather-forecast-icon {
  width: 60px;
  height: 60px;
  animation: rotate 2s infinite alternate;
}

.geo-location-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  margin-right: 25px;
}

#map {
  width: 400px;
  height: 400px;
  margin: 35px 20px 0 20px;
}

.coords {
  width: 150px;
  margin-top: 20px;
  padding: 5px;
  text-align: right;
  border-radius: 20px 0 0 20px;
  background-color: rgba(51, 51, 51, 0.7);
}

.longitude,
.latitude {
  margin: 3px;
}

.spinner,
.spinner:after {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.spinner {
  position: absolute;
  top: 40%;
  left: 45%;
  border-top: 20px solid rgba(2, 89, 92, 0.2);
  border-right: 20px solid rgba(2, 89, 92, 0.2);
  border-bottom: 20px solid rgba(2, 89, 92, 0.2);
  border-left: 20px solid rgba(2, 89, 92);
  transform: translateZ(0);
  animation: load 1.1s infinite linear;
}

.error-message {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 25%;
  left: 32%;
  width: 350px;
  height: 50px;
  padding: 20px;
  font-size: 22px;
  font-weight: 600;
  color: rgba(2, 89, 92);
  text-align: center;
  border-radius: 10px;
  background-color: rgb(255, 255, 255, 0.8);
  border: 2px solid rgba(2, 89, 92);
}

.hidden {
  display: none;
}

.active {
  background-color: rgba(2, 89, 92, 0.7);
}

.btn-animation {
  animation: size .5s ease-in-out;
}

.search-btn-animation {
  animation: search .5s ease-in-out;
}

.last-city-btn-animation {
  animation: last-city .5s ease-in-out;
}

.microphone-animation {
  animation: rotate 0.2s infinite alternate;
}

.goog-te-gadget-simple  {
  display: inline-block;
  padding: 12px!important;
  border-radius: 10px;
  font-size: 16px!important;
  color: white;
  background-color:  rgba(51, 51, 51, 0.5)!important;
  cursor: pointer;
}

.goog-te-gadget-simple span {
  color: white!important;
}

.goog-te-banner-frame.skiptranslate,
.goog-te-banner-frame,
#goog-gt-tt,
.goog-te-gadget-icon {
  display: none!important;
}

.goog-text-highlight {
  background-color: inherit!important;
  box-shadow: none!important;
}

@media (max-width: 1150px) {
  html {
    height: 170%!important;
  }

  .wrapper {
    height: 1200px;
  }

  .main {
    flex-wrap: wrap;
    justify-content: center;
  }

  .weather-section {
    margin-left: 0;
  }

  .geo-location-section {
    margin-right: 0;
  }

  .spinner {
    top: 22%;
    left: 41%;
  }
}

@media (max-width: 850px) {
  .header {
    height: 100px;
  }

  .main {
    margin-top: 20px;
  }

  .control-panel {
    flex-wrap: wrap;
    align-items: center;
  }

  .search-bar {
    margin: 10px 0 0 10%;
  }

  .weather-today {
    flex-wrap: wrap;
    justify-content: center;
  }

  .temperature-today {
    font-size: 110px;
  }

  .error-message {
    left: 18%;
  }
}

@media (max-width: 620px) {
  html {
    height: 210%!important;
  }

  .wrapper {
    height: 1500px;
  }

  .location {
    font-size: 32px;
  }

  .weather-section {
    width: 90%;
    height: 810px;
  }

  .temperature-today {
    width: 60%;
    text-align: center;
  }

  .weather-icon {
    width: 125px;
    height: 125px;
  }

  .weather-forecast-item {
    width: 40%;
    height: 140px;
  }

  .weather-forecast {
    justify-content: center;
    flex-wrap: wrap;
    width: 95%;
  }

  #map {
    margin: 35px 0 0;
    width: 350px;
    height: 350px;
  }

  .spinner {
    left: 34%;
  }

  .error-message {
    width: 250px;
  }
}

@media (max-width: 550px) {
  .header {
    height: 155px;
  }

  .last-city-btn {
    margin: 10px 0 0 20%;
  }

  .temperature-today {
    width: 95%;
  }
}

@media (max-width: 460px) {
  html {
    height: 270%!important;
  }

  .wrapper {
    height: 1940px;
  }

  .weather-section {
    height: 1220px;
  }

  .weather-forecast-item {
    width: 55%;
    height: 190px;
  }

  .weather-today-data {
    width: 80%;
    font-size: 20px;
  }

  .weather-forecast-day {
    font-size: 25px;
  }

  .weather-forecast-temperature {
    font-size: 45px;
  }

  .weather-forecast-icon {
    width: 80px;
    height: 80px;
  }

  #map {
    width: 300px;
    height: 300px;
  }

  .spinner {
    left: 28%;
  }

  .error-message {
    left: 10%;
    width: 200px;
  }
}

@media (max-width: 375px) {
  .wrapper {
    height: 1850px;
  }

  .header {
    height: 187px;
  }

  .temperature-switch {
    margin: 0;
  }

  .weather-today {
    margin: 20px 0;
  }

  .weather-today-data {
    width: 90%;
  }

  .input {
    width: 150px;
  }
}

@media (max-width: 335px) {
  #map {
    width: 270px;
    height: 270px;
  }
}

@keyframes load {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

 @keyframes size {
  0% {
    width: 45px;
    height: 45px;
  }
  50.0%  {
    width: 40px;
    height: 40px;
  }
  100.0% {
    width: 45px;
    height: 45px;
  }
}

@keyframes search {
  0% {
    width: 70px;
    height: 45px;
  }
  50.0%  {
    width: 65px;
    height: 40px;
  }
  100.0% {
    width: 70px;
    height: 45px;
  }
}

@keyframes last-city {
  0% {
    width: 170px;
    height: 45px;
  }
  50.0%  {
    width: 165px;
    height: 40px;
  }
  100.0% {
    width: 170px;
    height: 45px;
  }
}


@keyframes rotate {
  from {
    transform: rotate(-10deg);
  }

  to {
    transform: rotate(10deg);
  }
}

@keyframes microphone {
  from {
    transform: rotate(-8deg);
  }

  to {
    transform: rotate(8deg);
  }
}
